{% if page.date %}
<hr>
<div class="footer">
<div class="metadata">
<span class="left">Originally published on {{ page.date | date: "%Y-%m-%d" }} by <a href="https://ryanfb.github.io/">Ryan Baumann</a></span>
<span class="right">Feedback? <a href="mailto:ryan.baumann@gmail.com">e-mail</a> / <a href="https://twitter.com/intent/tweet?text=%40ryanfb%20">twitter</a> / <a href="https://github.com/ryanfb/etc/issues">github</a></span>
<br/>
<span class="left"><a href="https://github.com/ryanfb/etc/commits/gh-pages/{{ page.path }}">Revision History</a> / <a href="https://www.followthatpage.com/referrer">Follow This Page</a></span>
<span class="right"><a href="{{ site.baseurl }}/tip-jar.html">Appreciate this post? Please consider giving back.</a></span>
</div>
<div class="citation">
<span class="left">Suggested citation:</span><br/>
<div class="citation-body wrapped">{% include citation.html %}</div>
</div>
<div class="license"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a> &nbsp;This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</div>
</div>
{% endif %}
