<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage" itemid="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
<head>
  <meta charset="utf-8">
  {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">{% endif %}
  <title>Ryan Baumann - /etc - {{ page.title }}</title>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}{{ site.baseurl }}/feed.xml">
  <meta name="description" content="Ryan Baumann">
  <meta name="author" content="Ryan Baumann">
  <!-- Enables twitter cards on posts -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ryanfb" />
  <meta name="twitter:creator" content="@ryanfb" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.excerpt | escape }}" />
  <meta name="twitter:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
  <meta name="twitter:image" content="http://www.gravatar.com/avatar/5c60848658ff9b47c42196635fe0449b.jpg" />
  {% if page.external_url %}<meta http-equiv="refresh" content="0; {{ page.external_url }}" />{% endif %}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/site.css">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=String.prototype.padStart%2Cfetch" crossorigin="anonymous"></script>
  <link rel="pingback" href="https://webmention.io/ryanfb.github.io/xmlrpc" />
  <link rel="webmention" href="https://webmention.io/ryanfb.github.io/webmention" />
  <link rel="icon" href="/etc/favicon.ico" type="image/x-icon">
  <script type="text/javascript">
    function setAccessedDate() {
      if (document.getElementById('accessed-on')) {
        var now = new Date();
        var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
        var formattedDate = (new String(now.getDate())).padStart(2,'0')+" "+months[now.getMonth()]+" "+now.getFullYear();
        document.getElementById('accessed-on').textContent = " (accessed " + formattedDate + ")";
      }
    }
    function setModifiedDate() {
      if (document.getElementById('last-modified')) {
        fetch("https://api.github.com/repos/{{ site.github.owner_name }}/{{ site.github.repository_name }}/commits?path={{ page.path }}")
          .then((response) => {
            return response.json();
          })
          .then((commits) => {
            var modified = commits[0]['commit']['committer']['date'].slice(0,10);
            if(modified != "{{ page.date | date: "%Y-%m-%d" }}") {
              document.getElementById('last-modified').textContent = "Last Modified: " + modified;
            }
          });
      }
    }
  </script>
</head>
<body onload="setModifiedDate(); setAccessedDate();">
  <div id="content">
  {% if page.date %}<!-- Enable COinS -->
  <span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Adc&amp;rft.title={{ page.title | cgi_escape }}&amp;rft.aulast={{ site.data.site.name_last | cgi_escape }}&amp;rft.aufirst={{ site.data.site.name_first | cgi_escape }}&amp;rft.source={{ site.data.site.title | cgi_escape }}&amp;rft.date={{ page.date | date_to_xmlschema }}&amp;rft.type=blogPost&amp;rft.format=text&amp;rft.identifier={{ site.url | cgi_escape }}{{ site.baseurl | cgi_escape }}{{ page.url | cgi_escape }}&amp;rft.language=English"></span>{% endif %}
  <div class="header">
    <h1><a href="{{ site.baseurl }}/">/etc</a><span style="float:right"><a href="https://ryanfb.github.io/" rel="author">ryanfb.github.io</a></span></h1>
    {% unless page.title == 'index' %}<div class="title"><h2>↳ <a href="{{ site.baseurl }}{{ page.url }}" rel="bookmark">{{ page.title}}</a></h2></div>{% endunless %}
    <div class="subhead">
      {% if page.tags.size > 0 %}<span>tags: {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/{{ tag }}.html">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</span><br/>{% endif %}
      {% if page.date %}
      <span>Originally Published: {{ page.date | date: "%Y-%m-%d" }}</span><br/>
      <span id='last-modified'/>
      {% endif %}
    </div>
  </div>
  <div class="clear"/>
  {% if page.affiliate %}
  <span><i>Disclosure: This post contains links to buy products.<br/>If you purchase products by clicking those links, I may earn an affiliate commission.</i></span>
  {% endif %}
  {{ content }}
</div>
<div id="footer">
  {% include footer.html %}
</div>
</body>
</html>
